$xl: 1439px;
$lg: 1199px;
$md: 991px;
$sm: 767px;
$xs: 575px;


//bi-about section//
@media screen and (max-width: $md) {
    .bi-about {
        background-color: #FFFFFF;

        &__wrapper {
            padding: 120px 0 155px;
        }

        &__title {
            font-size: 40px;
            font-weight: 400;
            color: #001529;
            line-height: 150%;
            text-align: center;

            span {
                font-size: 60px;
                font-weight: 700;
            }
        }

        &__items {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 135px;
        }

    }
}
@media screen and (max-width: $sm) {
    .bi-about {
        background-color: #FFFFFF;

        &__wrapper {
            padding: 20px 0 30px;
        }

        &__title {
            font-size: 18px;
            font-weight: 400;
            color: #001529;
            line-height: 150%;
            text-align: left;

            span {
                font-size: 24px;
                font-weight: 700;
            }
        }

        &__items {
            display: flex;
            flex-direction:column;
            justify-content:left;
            gap: 17px;
            margin-top:20px;
        }

        &__item{
            display:flex;
            justify-content:flex-start;
            align-items:flex-start

        }

        &__item-arrow{
            display:none;
        }
        &__item-descr{
            font-size:18px;
            font-weight:400;
            text-align:left;
        }
        &__item-title{
            margin-top:20px;
            font-size:24px;
            font-weight:700;
        }
    }
}


//bi-benefits section//
@media screen and (max-width: $md) {
    .bi-benefits {
        padding: 150px 0 140px;

        &__title {
            font-size: 60px;
        }

        &__items {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 102px;
            column-gap: 24px;
            ;
        }
    }
}
@media screen and (max-width: $xs) {
    .bi-benefits {
        padding: 50px 0 40px;

        &__title {
            font-size: 24px;
            font-weight:700;
        }

        &__items {
            margin-top: 17px;
            display: flex;
            flex-wrap:wrap;
            gap:15px;
            
        }

        &__item{
            display:flex;
            flex-wrap:wrap;

            &-title{
                font-size:18px;
                font-weight:700;
            }

        }
    }
}


//bi-submission section//
@media screen and (max-width: $md) {
    .bi-submission {
        background: radial-gradient(77.04% 138.67% at 44.65% 35.98%, #261854 0%, #000812 100%);

        &__wrapper {
            padding: 130px 0 140px;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 45px;
        }

    }
}



//bi-fomrat section//
@media screen and (max-width: $md) {
    .bi-format {
        &__wrapper{
            padding: 50px 0 40px;
        }

        &__title {
            font-size: 60px;
        }

        &__items {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 102px;
            column-gap: 24px;
            ;
        }
    }
}
@media screen and (max-width: $xs) {
    .bi-format {
        padding: 27px 0 40px;
        &__wrapper{
            padding: 27px 0 40px;
        }

        &__title {
            font-size: 24px;
            font-weight:700;
        }

        &__items {
            margin-top: 23px;
            display:flex;
            flex-wrap:wrap;
            flex-direction:column; 
            gap:20px;  

        
        }

        &__item{
            display:flex;
            flex-wrap:wrap;
            flex-direction:column;
        }
    }
}


//bi-modules section//
@media screen and (max-width: $xs) {
    .bi-modules {
        background: radial-gradient(77.04% 138.67% at 44.65% 35.98%, #261854 0%, #000812 100%);
    
        ul {
            ::marker {
                font-size: 28px;
            }
        }
       
        ul li:nth-child(5){
            font-weight:700;
            font-size:18px;
        }
       
        li {
            color: white;
  

            :last-child {
                background: linear-gradient(90deg, #E59C28 0.01%, #F9C432 12.34%, #FCDA61 34.4%, #FFF8A0 61.85%, #F9F099 64.95%, #E7D986 69.83%, #CAB467 75.89%, #A3823D 82.81%, #774A0E 89.51%, #7A4C0F 91.85%, #855411 93.8%, #966115 95.61%, #AE731B 97.33%, #CD8A22 98.98%, #E59C28 100.01%),
                    linear-gradient(0deg, #FFFFFF, #FFFFFF);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-size: 18px;
                font-weight: 700;
    
    
            }
        }
    
    
        &__wrapper {
            padding: 50px 0 40px;
            display:flex;
            flex-direction:column;
            gap: 25px;
    
        }
    
        &__module {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items:center;
            gap:16px

        }
    
    
        &__item {
            display: flex;
            flex-direction:column;
            justify-content:flex-start;
            gap: 1px;
    
            &:nth-child(2) {
                margin-left: 100px;
            }
    
            &-img {
                position: relative;
                width: 70px;
                height: 70px;
            }
    
            &-frame {
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                width: 100%;
                z-index: 1;
            }
    
            &-icon {
                width:20px;
                height:20px;
                position: absolute;
                left: 49%;
                top: 43%;
                transform: translate(-50%, -50%);
                z-index: 2;
            }
    
            &-content {
                display: grid;
                grid-template-rows: auto auto 330px auto auto;
            }
    
            &-title {
                font-weight: 700;
                font-size: 18px;
                line-height: 50%;
                color: #FFFFFF;
                padding-top: 40px;
                text-align: left;
    
                p {
                    color: white;
                    font-size:12px;
                    font-weight:400;
                }
    
                span {
                    font-weight: 700;
                    font-size: 30px;
                    color: #FFFFFF;
                    text-align: center;
    
    
                }
            }
    
        }
    }
}



//bi-subscribe section//
@media screen and (max-width: $md) {
    .bi-subscribe {
        background: radial-gradient(77.04% 138.67% at 44.65% 35.98%, #261854 0%, #000812 100%);

        &__btn {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 0;
        }

        &__wrapper {
            padding: 150px 0 140px;

        }

        &__title {
            font-size: 60px;
            color: white;
        }

        &__items {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 102px;
            column-gap: 24px;

        }

        &__item {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
        }
    }
}
@media screen and (max-width: $xs) {
    .bi-subscribe {
        background: radial-gradient(77.04% 138.67% at 44.65% 35.98%, #261854 0%, #000812 100%);

        &__btn {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 0;
            justify-content:center;
        }

        &__wrapper {
            padding: 30px 0 42px;

        }

        &__title {
            font-size: 24px;
            font-weight:700;
            color: white;
            text-align:center;
        }

        &__items {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            row-gap: 102px;
            column-gap: 24px;

        }

        &__item {
            display: flex;
            flex-direction: column;
            padding-top: 40px;
        }
        &__descr{
            font-size:12px;
            font-size:400;
            text-align:center;
            padding-bottom:37px;
        }
    }
}

//bi-contacts section//
@media screen and (max-width: $md) {
    .bi-contacts {
        a {
            text-decoration: none;
            color: #001529;
        }

        &__wrapper {
            padding: 150px 0 140px;
        }

        &__title {
            font-size: 60px;
        }

        &__items {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 102px;
            column-gap: 24px;

        }
    }
}
@media screen and (max-width: $xs) {
    .bi-contacts {
        a {
            text-decoration: none;
            color: #001529;
        }

        &__wrapper {
            padding: 27px 0 30px;
        }

        &__title {
            font-size: 24px;
            font-weight:700;
        }

        &__items {
            margin-top: 17px;
            display:flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap:15px;

        }

        &__item{
            display:flex;
            flex-direction:column;
        }
    }
}